.client_tickets{
  width: 100%;
display: flex;
gap: 10px;
flex-direction: column;

}
.client_tickets_header{
display: flex;
flex-direction: column;
margin-top: 20px;
}
.back_button:hover{
    background-color: lightgrey;
}

.back_button{
margin-left: -1200px;

}

.clients_tickets_display{
display: flex;
flex-direction: column;
background-color: #fefefe;
gap: 20px;
overflow: hidden;
overflow-y: scroll;


}
.ticket_info{
margin-bottom: 20px;
display: flex;
padding: 10px;
gap: 20px;
align-items: center;
justify-content: space-between;
margin-left: 20px;
margin-right:20px;
background-color: rgb(203, 203, 216);
}
.ticket_info_closed{
margin-bottom: 20px;
display: flex;
padding: 10px;
gap: 20px;
align-items: center;
justify-content: space-between;
margin-left: 20px;
margin-right:20px;
background-color: rgb(255, 0, 0);
}
.ticket_info:hover{
    background-color: lightgrey;
}